<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jiotes">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".controller.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JioTes">

        <activity android:name=".view.MainActivity"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.appinfosdk.controller.services.CheckAppInstallService"
            android:enabled="true"
            android:exported="true"/>

<!--        <receiver android:name=".controller.broadcastReceiver.AppInstallUninstallReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--        <intent-filter android:priority="999">-->
<!--            <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>-->
<!--            <data android:scheme="package"/>-->
<!--        </intent-filter>-->
<!--        </receiver>-->

    </application>

</manifest>